.box {
    display: table;
    height: 50px;
    width: 325px;
    position: fixed;
    bottom: 15px;
    color: white;
    z-index: 9999;
}

.box > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px;
}

.out {
    right: -325px;
    transition: 1s;
}

.in {
    right: 0px;
    transition: 1s;
}

.info {
    background-color: rgb(14, 139, 255);
}

.success {
    background-color: rgb(37, 160, 0);
}

.error {
    background-color: rgb(255, 37, 37);
}