.wrapper {
    margin-top: 25px;
}

.players {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 1px;
    padding: 3px;
}

.player-data {
    padding: 3px;
    border-top: 2px solid lightgreen;
    background-color: rgb(197, 197, 197);
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
}

.player-highlight {
    background-color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 1px;
    color: black;
}

.cell {
    height: 30px;
    position: relative;
}

.double-letter {
    background-color: lightskyblue;
}

.triple-letter {
    background-color: rgb(115, 115, 255);
}

.double-word {
    background-color: lightpink;
}

.triple-word {
    background-color: rgb(255, 82, 82);
}

.controls {
    margin-top: 10px;
    color: black;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2px;
}

.tile {
    background-color: rgba(255, 247, 129, 0.993);
    position: relative;
}

.tile-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile-value {
    position: absolute;
    font-size: x-small;
    top: 1%;
    left: 1%;
}

.tile-selected {
    border: 1px solid black;
}

.player-tile {
    height: 30px;
    width: 30px;
}

.blank-tile {
    background-color: #ff9900fd;
}

.actions {
    display: grid;
    background-color: rgb(241, 241, 241);
    margin-top: 8px;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
}

.timer {
    text-align: right;
}