<div class="wrapper">
    {{payload?.tilesRemaining}}
    <div class="players">
        <div class="player" *ngFor="let p of players">
            <div [ngClass]="{'player-data': true, 'player-highlight': payload.toMoveId === p.id}">
                <div>
                    {{p.name}} {{p.points}}
                </div>
                <app-timer class="timer" *ngIf="payload.toMoveId === p.id" [timeout]="60" (onTimeout)="onTimeout()">
                </app-timer>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="cell {{c.cssClass}}" (click)="onCellTileClicked(c)" *ngFor="let c of cells">
            <div class="tile-letter">{{c?.tile?.letter}}</div>
            <div class="tile-value">{{c?.tile?.value}}</div>
        </div>
    </div>

    <div class="controls">
        <div class="tiles">
            <div class="player-tile tile {{t.selected ? 'tile-selected' : ''}} {{t.isBlank() ? 'blank-tile' : ''}}"
                (click)="onPlayerTileClicked(t)" *ngFor="let t of tiles">
                <div class="tile-letter">{{t.letter}}</div>
                <div class="tile-value">{{t.value}}</div>
            </div>
        </div>

        <div class="actions" *ngIf="tiles.length > 0 && payload.yourMove && !payload.isGameOver">
            <div (click)="onPlaceClicked()">Сложи</div>
            <div (click)="onExchangeClicked()">Размени</div>
            <div (click)="onPassClicked()">Пропусни</div>
            <div (click)="onCancelClicked()">Отмяна</div>
        </div>
    </div>
</div>