<div>
    <h3>Scrabble</h3>
    <mat-form-field class="options" appearance="fill">
        <mat-label>Players</mat-label>
        <mat-select [(ngModel)]="selectedPlayers" (selectionChange)="onPlayersChanged()">
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="options" appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="onLanguageChanged()">
            <mat-option value="bulgarian">български</mat-option>
            <mat-option value="english">english</mat-option>
        </mat-select>
    </mat-form-field>
</div>