.wrapper {
    margin-top: 25px;
}

.players {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 1px;
}

.cell {
    height: 30px;
    position: relative;
}

.double-letter {
    background-color: lightskyblue;
}

.triple-letter {
    background-color: rgb(115, 115, 255);
}

.double-word {
    background-color: lightpink;
}

.triple-word {
    background-color: rgb(255, 82, 82);
}

.controls {
    margin-top: 10px;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2px;
}

.tile {
    background-color: rgba(255, 247, 129, 0.993);
    position: relative;
}

.tile-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile-value {
    position: absolute;
    font-size: x-small;
    top: 1%;
    left: 1%;
}

.tile-selected {
    border: 1px solid black;
}

.player-tile {
    height: 30px;
    width: 30px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}