.board {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 1px;
}

.cell {
    background-color: black;
}

.cell-value {
    color: white;
    position: relative;
    top: 2px;
    left: 2px;
}

.cell-letter {
    color: yellow;
}