.options {
    width: 100%;
    margin-top: 10px;
}

.game-exists-box {
    background-color: rgb(14, 139, 255);
    height: 75px;
    display: table;
    width: 100%;
}

.game-exists-box > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

mat-form-field {
    background: rgba(255,255,255,0.5);
    border: 1px solid #d9d9d9;
}